@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgb(34,62,140) ; 
}

::-webkit-scrollbar-thumb:hover{
    background: rgba(34,62,140,0.8);
}